doctype html
html
  head
    meta(charset='utf-8')
    title Browser Games
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Browser Games
    nav
        a(href='/') Home
        a(href='/colors') Colors
        a(href='/pacman') Pacman

    block content

    script(src='/js/vendor/jquery-2.1.1.min.js')
    script(src='/js/vendor/lodash.min.js')
    script(src='/js/vendor/moment.min.js')
    script(src='/js/user/main.js')

    block scripts

