extends ../shared/template
block content
  h2(style='color: #3366FF;') Colors Page!
  #controls
    input(name='count' type='number')
    button Create Color Boxes
  #boxes


block scripts
  script(src='/js/user/colors.js')
  

