extends ../shared/template
block content
  h2(style='color: #660099;') Painter Page!
  #controls
    input(type='color')
    button Add Color
  #colors
    #selected
  #canvas
block scripts
  script(src='/js/user/painter.js')
  

